<header class="site-header">
  <div class="container">
    <nav class="navbar">
      <a class="navbar-brand" href="{{ '/' | relative_url }}">
        {% if site.title == 'blank' %}
          {% if site.first_name %}{{ site.first_name }}{% endif %}
          {% if site.middle_name %} {{ site.middle_name }}{% endif %}
          {% if site.last_name %} {{ site.last_name }}{% endif %}
        {% else %}
          {{ site.title }}
        {% endif %}
      </a>

      <div class="navbar-nav">
        {% assign sorted_pages = site.pages | sort: "nav_order" %}
        {% for p in sorted_pages %}
          {% if p.nav == true %}
            <a class="nav-link" href="{{ p.url | relative_url }}">{{ p.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>